- if flash[:notice]
  .success.callout{"data-closable" => "slide-out-right"}
    = flash[:notice]
    %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
