@import url('https://fonts.googleapis.com/css?family=Mitr|Oswald');
@import 'foundation_and_overrides';
@import 'colors';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'shared';

.slick-slider {
  margin-bottom: 10px;
}

.map {
  min-height: 600px;
}

.login {
  background: #587498;
  padding-top: 75px;
  height: 100%;
  a {
    color: #FF9900;
  }
}

.log-in-form {
  padding: 1rem;
  label{
    color: #fff;
  }
}

body {
  font-family: 'Mitr', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

header {
  padding: 10px 10px 25px;

  h1 {
    color: $white;
  }
}

.footer-wrapper {
  background: $gray-footer;
  margin-top: 20px;
  padding: 20px;
}

.social-media {
  padding-top: 15px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.map-wrapper {
  position: relative;
  min-height: 400px;

  #sidebarMenu {
    height: 100%;
    position: absolute;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: width 2s, height 2s, transform 2s;
    background: $light-brown;
    display: none;
    overflow: scroll;
    z-index: 99999;
  }
  .sidebarMenuInner{
      margin:0;
      padding:0;
      border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li{
      list-style: none;
      color: #fff;
      padding: 5px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li span{
      display: block;
      font-size: 11px;
      color: $white;
  }
  .sidebarMenuInner li a{
      color: $white;
      cursor: pointer;
      text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
      transform: translateX(0);
      display: block;
  }

  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
  }
  .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
  }
  .spinner {
      transition: all 0.5s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #fff;
  }
  .horizontal {
      transition: all 0.5s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  .diagonal.part-1 {
      position: relative;
      transition: all 0.5s;
      box-sizing: border-box;
      float: left;
  }
  .diagonal.part-2 {
      transition: all 0.5s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }


}

.map-menu-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background: image-url("site/flavor-map.png") no-repeat center center;
  background-color: $light-brown;
  height: 60px;
  overflow: hidden;
  z-index: 10;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.gray-container {
  background: $gray;
  padding: 20px;
  border-radius: 5px;
}

.top-bar {
  background: none;

  ul {
    background: none;

    li {
      background: none;

      a {
        color: $white;
      }
    }
  }
}


@media only screen and (max-width: 360px) {
  .social-media {
    a {
      img {
        max-width: 80px;
      }
    }
  }
}
