$white: #fff;
$white-hover: #f2f2f2;
$white-gray: #ddd;
$footer: #2d3645;
$footer-font: #5c6e8b;
$header-titles: #2567a8;
$news: #2964e2;
$gray: #f7f7f9;
$gray-footer: #454553;
$gray-title: #474747;
$span-text: #2773ff;
$square: #ebf4ff;
$header-background: #294ce3;
$content-font: #69696a;
$side-title: #3fb4e5;
$soft-black: #333;
$red: #f00;
$blue-resource: #1969ff;
$light-brown: #a23a01;
